@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic);
@import url("icomoon.css");

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?cgucyu');
    src:    url('../fonts/icomoon.eot?cgucyu#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?cgucyu') format('truetype'),
        url('../fonts/icomoon.woff?cgucyu') format('woff'),
        url('../fonts/icomoon.svg?cgucyu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {margin: 0; padding: 0;}

.grid-container {position: relative;}
.bg-grid {
  background: #f2f2f2;
  position: absolute;
  top: 258px;
  left: 0;
  right: 0;
  bottom: 100px;

}
.over-grid {width: 100%; overflow: hidden;}
.grid {margin: 120px -120px 200px 120px;}

.grid-item {
  width: 246px;
  height: 246px;
  margin-bottom: 147.6px;
  box-sizing: border-box;
  z-index: 1;
  /*border: 1px solid #000;*/
 }
 .grid-item.huge-secondary {z-index: 0;}

/** Patrick: verander de vierkant in een platte rechthoek (3 kleine blokjes groot) */

 /*.grid-item.huge {*/
   /*width: 492px;*/
   /*height: 492px;*/
   /*margin-bottom: 295.2px;*/
 /*}*/

.grid-item.huge {
    width: 738px;
    height: 246px;
    margin-bottom: 147.6px;
}

/** end Patrick: */

 .grid-item .diamond {
   width: 278.3172291px;
   height: 278.3172291px;
   -webkit-transform: rotate(-45deg);
       -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
           transform: rotate(-45deg);
    overflow: hidden;
    box-sizing: border-box;
    position: relative;

    border: 5px solid #f2f2f2;
    outline: 4px solid #f2f2f2;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
 }
  .grid-item .img-container {
    background: rgb(23,28,38);
  }


 .grid-item.huge .diamond {
  width: 556.6344582px;
  height: 556.6344582px;
 }

  .grid-item.grid-hover:not(.your-project) .diamond {
    -webkit-backface-visibility: visible;
       -moz-backface-visibility: visible;
        -ms-backface-visibility: visible;
            backface-visibility: visible;
  }

  .grid-item .inner-diamond {
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease-out 0.2s;
         -o-transition: opacity 0.3s ease-out 0.2s;
            transition: opacity 0.3s ease-out 0.2s;
  }
  .grid-item.grid-hover .inner-diamond{opacity: 1;}
  .grid-item .diamond-content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: opacity 0.3s ease-out 0.2s;
         -o-transition: opacity 0.3s ease-out 0.2s;
            transition: opacity 0.3s ease-out 0.2s;
  }
  .grid-item .diamond-content .diamond-logo {
    width: 200px;
    height: 80px;
    position: relative;
    left: 50%;
    margin-top: 25%;
    margin-left: -104px;
  }

  .grid-item .diamond-content .diamond-logo img {width: 100%;}

  .grid-item .diamond-content .no-logo {
    width: 200px;
    height: 80px;
    position: relative;
    left: 50%;
    margin-top: 25%;
    margin-left: -104px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 80px;
    text-align: center;
  }

  .grid-item.huge .diamond-content .diamond-logo {

    width: 400px;
    height: 160px;
    margin-left: -200px;
  }

    .grid-item .diamond-content .diamond-exerpt {
      font-family: 'Lato', Arial, Helvetica, sans-serif;
      font-style: italic;
      font-style: 18px;
      font-weight: 300;
      color: #fff;
      width: 80%;
      margin: 2% 11% 5% 9%;
      text-align: center;
    }
    .grid-item.huge .diamond-content .diamond-exerpt {
      font-size: 27px;
      margin: 5% 10%;
    }

    .grid-item .diamond-content .diamond-exerpt:before {content: "\201C"}
    .grid-item .diamond-content .diamond-exerpt:after {content: "\201D"}

/** Patrick: */

 /*div.grid-item.huge.first {*/
   /*-webkit-transform: translate(-141px, 57px);*/
   /*-ms-transform: translate(-141px, 57px);*/
   /*-o-transform: translate(-141px, 57px);*/
   /*transform: translate(-141px, 57px);*/
 /*}*/

 /*div.grid-item.huge.first ~ .grid-item:nth-child(6) {visibility: hidden;}*/
 /*div.grid-item.huge.first ~ .grid-item:nth-child(6):last-child {visibility: visible;}*/
 /*div.grid-item.huge.first ~ .grid-item:last-child:nth-child(8) {*/
   /*-webkit-transform: translate(46px, 1px);*/
       /*-ms-transform: translate(46px, 1px);*/
        /*-o-transform: translate(46px, 1px);*/
           /*transform: translate(46px, 1px);*/
 /*}*/


/*COMMENTAAR PATRICK COMMENT DIT BLOCK UIT*/
 /*div.grid-item.huge.second + div.grid-item:not(.huge) {*/
  /*left: 346px!important;*/
   /*top: 393px!important;*/
 /*}*/
 /*COMMENTAAR PATRICK TOT HIER*/

/** end Patrick: */


 .grid-item  .inner-diamond{
    width: 394px;
    height: 394px;
    position: absolute;
    top: -22%;
    left: -22%;
 }
  .grid-item .button-container {
    display: inline-block;
    left: 50%;
    top: 0;
    opacity: 0;
    margin-top: 76%;
    position: absolute;
    margin-left: -65px;
    -webkit-transition: opacity 0.3s ease-out 0.2s;
         -o-transition: opacity 0.3s ease-out 0.2s;
            transition: opacity 0.3s ease-out 0.2s;
  }
  .grid-item.grid-hover .button-container {
    opacity: 1;
  }
 .grid-item.huge .inner-diamond{
   width: 788px;
   height: 788px;
   top: -105%;
   left: -8%;
 }
 .grid-item.huge .button-container {
  margin-top: 33%;
  margin-left: -22%;
 }

  .grid-item .diamond img {
    width: 100%;
    -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
         -o-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
  }
  .grid-item .diamond .img-container {
    width: 394px;
    height: 394px;
    position: relative;
    top: -22%;
    left: -22%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .grid-item.huge .diamond .img-container {width: 788px; height: 788px; }
  .grid-item.grid-hover .img-container img {
    opacity: 0.4;
    width: 110%;
    margin-top: -5%;
    margin-left: -5%;
    -webkit-filter: blur(10px);
         -o-filter: blur(10px);
            filter: blur(10px);
  }

  .grid-item.your-project .diamond {background: #ee7600;}
  .grid-item.your-project .diamond p {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 38px;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -71%) rotate(45deg);
        -ms-transform: translate(-50%, -71%) rotate(45deg);
         -o-transform: translate(-50%, -71%) rotate(45deg);
            transform: translate(-50%, -71%) rotate(45deg);
  }

/*OFFSETS PER COLLUMN*/
.grid-item:not(.huge) {
 -webkit-transform: translate(0px, 0px);
     -ms-transform: translate(0px, 0px);
      -o-transform: translate(0px, 0px);
         transform: translate(0px, 0px);
}
 .grid-item[style*='left: 246px'] {
  -webkit-transform: translate(-50px, 197px);
      -ms-transform: translate(-50px, 197px);
       -o-transform: translate(-50px, 197px);
          transform: translate(-50px, 197px);
 }

/** Patrick: */

 /*.grid-item.huge {*/
  /*-webkit-transform: translate(6px, 57px);*/
      /*-ms-transform: translate(6px, 57px);*/
       /*-o-transform: translate(6px, 57px);*/
          /*transform: translate(6px, 57px);*/
 /*}*/

.grid-item.huge .diamond {
    margin-top: -138px;
    margin-left: 55px;
}

/** end Patrick: */

 .grid-item[style*='left: 492px'] {
  -webkit-transform: translate(-100px, 0px);
      -ms-transform: translate(-100px, 0px);
       -o-transform: translate(-100px, 0px);
          transform: translate(-100px, 0px);
 }
 .grid-item[style*="left: 738px"] {
  -webkit-transform: translate(-150px, 197px);
      -ms-transform: translate(-150px, 197px);
       -o-transform: translate(-150px, 197px);
          transform: translate(-150px, 197px);
 }
 .grid-item[style*="left: 984px"] {
  -webkit-transform: translate(-200px, 0px);
      -ms-transform: translate(-200px, 0px);
       -o-transform: translate(-200px, 0px);
          transform: translate(-200px, 0px);
 }
 .grid-item[style*="left: 1230px"] {
  -webkit-transform: translate(-250px, 197px);
      -ms-transform: translate(-250px, 197px);
       -o-transform: translate(-250px, 197px);
          transform: translate(-250px, 197px);
 }
 .grid-item[style*="left: 1476px"] {
  -webkit-transform: translate(-300px, 0px);
      -ms-transform: translate(-300px, 0px);
       -o-transform: translate(-300px, 0px);
          transform: translate(-300px, 0px);
 }
 .grid-item[style*="left: 1722px"] {
  -webkit-transform: translate(-350px, 197px);
      -ms-transform: translate(-350px, 197px);
       -o-transform: translate(-350px, 197px);
          transform: translate(-350px, 197px);
 }
 .grid-item[style*="left: 1968px"] {
  -webkit-transform: translate(-400px, 0px);
      -ms-transform: translate(-400px, 0px);
       -o-transform: translate(-400px, 0px);
          transform: translate(-400px, 0px);
 }
 .grid-item[style*="left: 2214px"] {
  -webkit-transform: translate(-450px, 197px);
      -ms-transform: translate(-450px, 197px);
       -o-transform: translate(-450px, 197px);
          transform: translate(-450px, 197px);
 }

/*BUTTON STYLES*/

 a.button {
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   font-weight: 300;
   border-color:#fff;
   box-sizing: border-box;
   display: block;
   width: 160px;
   overflow: hidden;
   padding: 0;
   font-size: 18px;
   position: relative;;
   top: 0;
   text-decoration: none;
   color: #fff;
   height: 40px;
   text-align: center;
 }

  a.button i {
    position: absolute;
    display: inline-block;
    left: 0;
    width: 100%;
    top: 6px;
    margin-top: 0;
    -webkit-transition: margin-top 0.3s;
            transition: margin-top 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    vertical-align: middle;
  }
  .huge a.button i {top: 0;}
        a.button:hover i {margin-top: 40px;}
  .huge a.button:hover i {margin-top: 56px;}

  a.button span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: -56px;
    -webkit-transition: margin-top 0.3s;
            transition: margin-top 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  a.button:hover span {margin-top: 0;}

  a.button span:before {
    padding-right: 10px;
    margin: 0 -20px 0 0;
    content: "<";
    opacity: 0;
    color: #EE7600;
    display: inline-block;
    -webkit-transition: margin 0.3s 0.2s, opacity 0.2s 0.2s;
         -o-transition: margin 0.3s 0.2s, opacity 0.2s 0.2s;
            transition: margin 0.3s 0.2s, opacity 0.2s 0.2s;

  }
  a.button span:after {
    padding-left: 10px;
    margin: 0 0 0 -20px;
    content: "/>";
    opacity: 0;
    color: #EE7600;
    display: inline-block;
    -webkit-transition: margin 0.3s 0.2s, opacity 0.2s 0.2s;
         -o-transition: margin 0.3s 0.2s, opacity 0.2s 0.2s;
            transition: margin 0.3s 0.2s, opacity 0.2s 0.2s;

  }
  a.button:hover span:before, a.button:hover span:after {
    opacity: 1;
    margin: 0px;

  }

  a.button:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0px;
    height: 100%;
    border: 2px solid #fff;
    -webkit-transition: margin-top 0.3s;
            transition: margin-top 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);


  }
  a.button:hover::before {margin-top: 38px;}
  .huge a.button:hover::before {margin-top: 56px;}

 .huge a.button {
   font-size: 27px;
   width: 250px;
   height: 58px;
   margin-left: calc(50% - 125px);
   line-height: 54px;
 }

.no-cssfilters .grid-hover.grid-item .img-container img {opacity: 0.1;}

/** Patrick: development code (aanzetten met class 'bare' op de body) */

body.bare .diamond, body.bare .inner-diamond, body.bare .button-container {
    display: none !important;
}

body.bare .grid-item {
    border: 1px solid #000;
    background-color: green;
    margin-bottom: 0;
    width: 246px;
    height: 246px;
    -webkit-transform: translate(0px, 0px) !important;
    -ms-transform: translate(0px, 0px) !important;
    -o-transform: translate(0px, 0px) !important;
    transform: translate(0px, 0px) !important;
}

body.bare .grid-item.huge {
    width: 738px;
    height: 246px;
    background-color: red;
}

body.bare .grid-item.huge-secondary {
    background-color: deeppink;
}


/** end Patrick: */
