.over-grid {width: 100%; overflow: hidden;}
.grid {margin: 120px -120px 200px 120px;}

.grid-item {
  width: 246px;
  height: 246px;
  margin-bottom: 147.6px;
  box-sizing: border-box;
  /*border: 1px solid #000;*/
 }

 .grid-item.huge {
   width: 492px;
   height: 492px;
   margin-bottom: 295.2px;
 }

 .grid-item .diamond {
   width: 278.3172291px;
   height: 278.3172291px;
   -webkit-transform: rotate(-45deg);
       -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
           transform: rotate(-45deg);
    overflow: hidden;
    border: 4px solid #f2f2f2;
    box-sizing: border-box;
    background: #171c26;
    /*display: none;*/

 }
 .grid-item.huge .diamond {
  width: 556.6344582px;
  height: 556.6344582px;
 }

 div.grid-item.huge.first {
   -webkit-transform: translate(-141px, 57px);
   -ms-transform: translate(-141px, 57px);
   -o-transform: translate(-141px, 57px);
   transform: translate(-141px, 57px);
 }

 div.grid-item.huge.first ~ .grid-item:nth-child(6) {visibility: hidden;}
  div.grid-item.huge.first ~ .grid-item:nth-child(6):last-child {visibility: visible;}
 div.grid-item.huge.first ~ .grid-item:last-child:nth-child(8) {
   -webkit-transform: translate(46px, 1px);
       -ms-transform: translate(46px, 1px);
        -o-transform: translate(46px, 1px);
           transform: translate(46px, 1px);
 }

div.grid-item.huge.second + div.grid-item:not(.huge) {
  left: 346px!important;
   top: 393px!important;
 }

.grid-item .diamond .inner-diamond{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 200px;
    height: 200px;
  }



/*FIRST CYCLE OF 4 ROWS*/


.grid-item[style*='left: 246px']:not(.huge) {
  -webkit-transform: translate(-50px, 197px);
      -ms-transform: translate(-50px, 197px);
       -o-transform: translate(-50px, 197px);
          transform: translate(-50px, 197px);
}
.grid-item.second.huge {
  -webkit-transform: translate(6px, 57px);
      -ms-transform: translate(6px, 57px);
       -o-transform: translate(6px, 57px);
          transform: translate(6px, 57px);
}
.grid-item[style*='left: 492px']:not(.huge) {
  -webkit-transform: translate(-100px, 0px);
      -ms-transform: translate(-100px, 0px);
       -o-transform: translate(-100px, 0px);
          transform: translate(-100px, 0px);
}
.grid-item[style*="left: 738px"]:not(.huge) {
  -webkit-transform: translate(-150px, 197px);
      -ms-transform: translate(-150px, 197px);
       -o-transform: translate(-150px, 197px);
          transform: translate(-150px, 197px);
}
.grid-item[style*="left: 984px"]:not(.huge) {
  -webkit-transform: translate(-200px, 0px);
      -ms-transform: translate(-200px, 0px);
       -o-transform: translate(-200px, 0px);
          transform: translate(-200px, 0px);
}
.grid-item[style*="left: 1230px"]:not(.huge) {
  -webkit-transform: translate(-250px, 197px);
      -ms-transform: translate(-250px, 197px);
       -o-transform: translate(-250px, 197px);
          transform: translate(-250px, 197px);
}
.grid-item[style*="left: 1476px"]:not(.huge) {
  -webkit-transform: translate(-300px, 0px);
      -ms-transform: translate(-300px, 0px);
       -o-transform: translate(-300px, 0px);
          transform: translate(-300px, 0px);
}
.grid-item[style*="left: 1722px"]:not(.huge) {
  -webkit-transform: translate(-350px, 197px);
      -ms-transform: translate(-350px, 197px);
       -o-transform: translate(-350px, 197px);
          transform: translate(-350px, 197px);
}
.grid-item[style*="left: 1968px"]:not(.huge) {
  -webkit-transform: translate(-400px, 0px);
      -ms-transform: translate(-400px, 0px);
       -o-transform: translate(-400px, 0px);
          transform: translate(-400px, 0px);
}
.grid-item[style*="left: 2214px"]:not(.huge) {
  -webkit-transform: translate(-450px, 197px);
      -ms-transform: translate(-450px, 197px);
       -o-transform: translate(-450px, 197px);
          transform: translate(-450px, 197px);
}
